@import '../../style/index.scss';

.k-button {
  background: none;
  cursor: pointer;
  border: 1px solid var(--k-color-border);
  outline: none;
  color: inherit;
  padding: 4px 8px;
  border-radius: 4px;
  height: 32px;
  font-size: 16px;
  /** 文字居中: small时会不居中 */
  display: inline-flex;
  align-items: center;

  &-size {
    &--small {
      height: 24px;
      padding: 2px 4px;
      font-size: 12px;
    }

    &--large {
      height: 40px;
      padding: 6px 12px;
      font-size: 20px;
    }
  }

  &--default {
    border-color: var(--k-color-border);
    color: var(--k-color-text);

    &:hover {
      border-color: var(--k-color-primary-hover);
      color: var(--k-color-primary-hover);
    }

    &:active {
      border-color: var(--k-color-primary-active);
      color: var(--k-color-primary-active);
    }
  }

  &--dashed {
    border-style: dashed;
    border-color: var(--k-color-border);
    color: var(--k-color-text);

    &:hover {
      border-color: var(--k-color-primary-hover);
      color: var(--k-color-primary-hover);
    }

    &:active {
      border-color: var(--k-color-primary-active);
      color: var(--k-color-primary-active);
    }
  }

  &--primary {
    border-color: var(--k-color-primary);
    color: white;
    background-color: var(--k-color-primary);

    &:hover {
      border-color: var(--k-color-primary-hover);
      background-color: var(--k-color-primary-hover);
    }

    &:active {
      border-color: var(--k-color-primary-active);
      background-color: var(--k-color-primary-active);
    }
  }

  &:disabled {
    cursor: not-allowed;
    border-color: #d9d9d9;
    color: #bfbfbf;
    background-color: #f0f0f0;
  }
}
